footer{
  width: 1170px;
  margin: 0px auto;
}

#userlist{
  padding: 0 10px;
}

#users{
  height: 458px;
  overflow-y:scroll;
}

#conversation{
  height:300px;
  overflow-y:scroll;
}

hr.user-line{
  margin: 6px 0;
}

textarea.messagebox{
  width:auto;
}

input.datasend{
  margin-left: 10px;
}
